.form {
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    margin: auto;
    margin-top: 5%;
    place-items: center;
    background: none;
  
    input {
      display: inline-block;
      width: 60%;
      padding: 12px 5px;
      margin: 20px 10px;
      box-sizing: border-box;
      border: 0 none #ccc;
      border-bottom: 1px solid $grey-text;
      border-radius: 0;
  
      &:focus {
        border: none;
        outline: none;
        outline-color: transparent;
        box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
          0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001,
          inset -2px -2px 2px 0px #fff9, inset -2px -2px 4px 0px #fff9,
          inset 2px 2px 2px 0px #0003, inset 2px 2px 4px 0px #0001;
  
        &::placeholder {
          color: none;
        }
      }
    }
  
    .submit {
      font-size: 18px;
      font-weight: 500;
      border: none;
      border-radius: 35px;
      @include text-color;
      margin: 20px;
      width: 25%;
      @include neumorphism;
      transition: box-shadow 0.1s linear;
      cursor: pointer;
    }
  }
  