.navbar {
  position: relative;
  top: 0;
  height: 9vh;
  min-height: 60px;
  width: 100%;
  @include neumorphism;
  display: grid;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  // text-align: center;
  // align-items: center;
  // justify-content: center;
  z-index: 2;

  .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-color: $back-ground;
    width: 56px;
    height: 100%;
    border-radius: 20px;
    margin-left: 50px;
    font-size: 30px;
    transition: font-size 0.2s ease-in-out;
    &:hover {
      font-size: 32px;
    }

    background: none;
  }

  .Giasu {
    position: relative;
    // font-size: 36px;
    height: 80px;
    width: 70px;
    // font-weight: 500;
    @include text-color;
    letter-spacing: 1.5px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    margin-top: 10px !important;
    
  }

  .search {
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;

    .icon {
      color: $grey-text;
      font-size: 20px;
      margin-right: 1vw;
    }

    input {
      width: 50%;
      letter-spacing: 1.2px;
      font-size: 16px;
      padding: 8px 10px;
      box-sizing: border-box;
      border: 0 none #ccc;
      border-bottom: 1px solid $grey-text;
      border-radius: 0;
      text-transform: capitalize;

      &::placeholder {
        letter-spacing: 1.5px;
        font-size: 16px;
        text-transform: none;
      }

      &:focus {
        border: none;
        outline: none;
        outline-color: transparent;
        box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
          0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001,
          inset -2px -2px 2px 0px #fff9, inset -2px -2px 4px 0px #fff9,
          inset 2px 2px 2px 0px #0003, inset 2px 2px 4px 0px #0001;
      }
    }
  }

  .user {
    height: 100%;
    // position: relative;
    display: flex;
    align-items: center;
    margin-right: 2vw;
    cursor: pointer;
    justify-self: end;
    background: none;

    &:hover {
      .manage {
        display: inline;
      }
    }

    .username {
      margin-right: 1vw;
      font-size: 20px;
      background: none;
    }

    .profile {
      height: 58px;
      width: 58px;
      padding: 7px;
      margin: 2px;
      margin-right: 25px;
      border: 1px solid none;
      border-radius: 50%;
      background: $back-ground;
      box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
        0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001,
        inset -2px -2px 3px 0px #fff9, inset -2px -2px 4px 0px #fff9,
        inset 2px 2px 3px 0px #0003, inset 2px 2px 4px 0px #0001;
    }

    .manage {
      // z-index: 2;
      display: none;
      position: absolute;
      top: 100%;
      right: 55px;
      width: 180px;
      text-align: start;
      border-radius: 0 0 8px 8px;
      box-shadow: -2px -2px 2px 0px #fff9, -1px -1px 2px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;

      div {
        background: none;
        margin-bottom: 10px;
        padding: 10px;
        padding-left: 25px;

        &:hover {
          // background: $grey-text;
          background: linear-gradient(
            to top right,
            #36d1dc,
            #00c2e7,
            #00b1ef,
            #0c9def,
            #5b86e5
          );
        }
      }
      a {
        color: #000000;
        text-decoration: none;
      }

      .logout {
        margin-bottom: 0;
        border-radius: 0 0 8px 8px;
      }
    }
  }
}
