.request_detail {
  position: relative;
  top: 0;
  right: 0;
  height: auto;
  width: 100%;

  .body {
    position: relative;
    display: grid;
    // height: 100%;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;

    .left,
    .right {
      // height: 100%;
      padding: 20px;

      .payment,
      .subject-infor,
      .school-infor,
      .location,
      .bid-list {
        @include neumorphism;
        height: 150px;
        width: 100%;
        margin-top: 50px;
        border-radius: 7px;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        transition: all 0.3s ease, box-shadow 0.5s ease-in-out;
        padding: 5px;
        font-size: 14px;

        &:hover {
          box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
            0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001,
            inset -3px -3px 5px 0px #fff9, inset -3px -3px 4px 0px #fff9,
            inset 3px 3px 5px 0px #0003, inset 3px 3px 4px 0px #0001;
        }

        .header {
          background: none;
          font-size: 22px;
          letter-spacing: 1.5px;
          justify-self: center;
          grid-column-end: span 2;
          margin-top: 5px;
          @include text-color;
        }

        img {
          grid-column-end: span 2;
          height: 100px;
          width: 100px;
          background: $back-ground;
          margin-top: 10px;
        }

        span {
          letter-spacing: 0.5px;
          background: none;

          &:nth-child(odd) {
            justify-self: end;
            padding-right: 10px;
          }

          &:nth-child(even) {
            padding-left: 10px;
            color: $grey-text;
          }
        }
      }

      .school-infor {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // transition: /* all 0.5s ease-in-out, */ visibility 2s ease-in-out 3s, opacity 3.5s linear ;

        transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out,
          visibility 0.5s ease-in-out;
        span,
        .header {
          display: none;
        }
        .school-name {
          display: inline;
          font-size: 22px;
          margin: 10px;
          color: #000000 !important;
        }
        img {
          visibility: visible;
          opacity: 1;
        }

        &:hover {
          display: grid;
          grid-template-columns: 0.2fr 1fr;
          justify-content: center;
          align-items: center;
          padding: 5px;
          transition: all 0.3s ease-in-out, opacity 0.5s ease-in-out,
            visibility 0.5s ease-in-out;
          height: 150px;
          width: 100%;

          img {
            position: absolute;
            opacity: 0;
            visibility: hidden;
          }

          .school-name {
            margin: 0;

            transition: 0.3s ease-in-out;
          }

          .header {
            display: inline-block;
          }

          span,
          .school-name {
            font-size: 14px;
            display: inline-block;
            letter-spacing: 0.5px;
            background: none;

            &:nth-child(odd) {
              margin-left: 10px;
              justify-self: start;
              padding-right: 10px;
              color: $grey-text;
            }

            &:nth-child(even) {
              justify-self: end;
              margin-right: 10px;
              color: #000000;
            }
          }
        }
      }

      .bid-list {
        grid-template-rows: repeat(4, 1fr);
        // grid-template-columns: 0.2fr 0.4fr 0.4fr ;
        justify-items: center;
        align-items: center;

        // .header{
        //   grid-column-end: span 3;
        // }

        span {
          &:nth-child(even) {
            padding: 0;
            height: 25px;
            width: 25px;
            line-height: 25px;
            border-radius: 50%;
            text-align: center;
            align-items: center;
            color: #000000;
          }

          // &:nth-child(2) {
          //   border-color: #ffcd40;
          //   background-color: #ffcd40;
          // }

          // &:nth-child(4) {
          //   border-color: #e5e5e5;
          //   background-color: #e5e5e5;
          // }

          // &:nth-child(6) {
          //   border-color: #f9ac30;
          //   background-color: #f9ac30;
          // }
        }
      }

      .location {
        margin-top: 30px;
      }

      .payment {
        display: inline-block;
        height: 100px;
        text-align: center;
        margin-top: 30px;

        div {
          margin-top: 5px;
          background: none;
        }

        .price {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    .center {
      padding: 20px 40px;
      background: none;

      button {
        border: none;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        margin-top: 30px;

        .icon {
          padding: 10px;
          height: 30px;
          width: 30px;
          color: #000000;
          border-radius: 5px;

          transition: all 0.3s ease-out, box-shadow 0.4s ease-in-out;

          &:hover {
            box-shadow: -3px -3px 10px 0px #fff9, -2px -2px 2px 0px #fff9,
              3px 3px 10px 0px #0002, 2px 2px 2px 0px #0001,
              inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001,
              inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
          }

          &:active {
            transition: all 0.2s ease;
            box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
              0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001,
              inset -2px -2px 3px 0px #fff9, inset -2px -2px 3px 0px #fff9,
              inset 2px 2px 3px 0px #0003, inset 2px 2px 3px 0px #0001;
          }
        }
      }

      .request {
        position: relative;
        width: 100%;
        @include neumorphism;
        height: 30vh;
        min-height: 210px;
        margin-top: 50px;
        border-radius: 5px;

        img {
          object-fit: cover;
          position: absolute;
          top: 0%;
          left: 50%;
          transform: translate(-50%, -50%);
          vertical-align: middle;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          padding: 15px;
          box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
            0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001,
            inset -2px -2px 3px 0px #fff9, inset -2px -2px 4px 0px #fff9,
            inset 2px 2px 3px 0px #0003, inset 2px 2px 4px 0px #0001;
        }

        .header {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 22px;
          letter-spacing: 1.5px;
          @include text-color;
        }

        span {
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 14px;
          letter-spacing: 1.5px;
          color: $grey-text;
          text-align: justify;
          background: none;
        }

        .contact {
          position: absolute;
          top: 90%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: none;

          .icon {
            margin: 20px;
            cursor: pointer;
            transition: font-size 0.1s ease-in-out;
            &:hover {
              font-size: 19px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1000px){
  .request_detail{
    .body{
      grid-template-columns: 1fr;
    }
  }
}